version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  node-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-app
    depends_on:
      - mongo
    ports:
      - "4010:4010"
    environment:
      MONGO_URI: mongodb://mongo:27017/cattle_directory
      PORT: 4010
    volumes:
      - .:/app

volumes:
  mongo_data:
